<!DOCTYPE html>
<html lang="en">
  <head>
  	<%= require('html-loader!./layout/head-common.html')%>
  	<title><%= htmlWebpackPlugin.options.title %> - TMailStore电商平台</title>
  </head>
  <body>
	<div>
		<a class="link" href="">test</a>
		<a class="link-text" href="">haha</a>
	</div>
	<div>
		<a href="" class="btn">哈哈</a>
		<a href="" class="btn btn-mini">嘻嘻</a>
	</div>
	<div class="loading"></div>
	<!-- ============ -->
	<!-- 测试字体图标 -->
	<div>
		<i class="fa fa-user"></i>
	</div>
  	<%= require('html-loader!./layout/footer.html')%>
  </body>
</html>
