.footer{
	padding-bottom: 10px;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.footer .links{
	text-align: center;
	color: #666;
	line-height: 30px;
}
.footer .links .link{
	margin:  0 10px;
}
.footer .copyright{
	text-align: center;
	color: #666;
	line-height: 30px;

}